<template>
  <el-container>
	<el-main>
	  <el-row :gutter="20">
		<el-col :span="24">
			<h1>Рулеточка</h1>
		</el-col>
	  </el-row>
	  <el-row :gutter="20" justify="center" type="flex">
		<el-col :span="6">
		  <div class="grid-content"><el-input placeholder="Имя/Ник/Что угодно" v-model="params.gamer"></el-input></div>
		</el-col>
	  </el-row>
	  <el-row :gutter="20" justify="center" type="flex">
		<el-col :span="6">
		  <div class="grid-content"><el-checkbox v-model="params.newRound" :disabled="!rolled">Начать по новой</el-checkbox></div>
		</el-col>
	  </el-row>
	  <el-row :gutter="20" justify="center" type="flex">
		<el-col :span="6">
		  <div class="grid-content"><el-button type="primary" @click="roll" :disabled="isDisabled">Крутить!</el-button></div>
		</el-col>
	  </el-row>
	  <el-row :gutter="20" v-if="resultCell.id">
		<el-col :span="24">
		  <div class="grid-content">
			<h3>Результат:</h3>
			<p>Ячейка ID: {{ resultCell.id }} / Вес: {{ resultCell.weight }} / Джекпот: {{ resultCell.jackpot ? 'Да' : 'Нет' }}</p>
		  </div>
		</el-col>
	  </el-row>
	</el-main>
  </el-container>
</template>

<script>
export default {
	name: "Rolling",
	data() {
	  return {
		params: {
		  gamer: null,
		  newRound: false
		},
		rolled: false,
		resultCell: {},
		loading: false
	  };
	},
  	computed: {
	  isDisabled() {
	    return !this.params.gamer || this.loading;
	  }
	},
	watch: {
	  'params.gamer'() {
	    this.rolled = false;
	  }
	},
  	methods: {
	  roll() {
	    this.loading = true;
		fetch("/api/roll",
		  {
			method: "POST",
			body: JSON.stringify( this.params )
		  })
			.then((res) => {
			  res.json().then((data) => {
				this.loading = false;
				if (data.success) {
				  this.resultCell = data.data.cell;
				  if (!this.params.newRound) {
					this.rolled = true;
				  } else {
					this.rolled = false;
				  }
				  this.params.newRound = false;
				} else {
				  alert(data.data.message);
				}
			  });

		  })
	  }
	}
}
</script>

<style scoped>
  .grid-content {
	text-align: center;
  }
  h1 {
	margin-bottom: 40px;
  }
  .grid-content {
	padding: 20px;
  }
</style>