<template>
  <el-container>
	<el-main>
	  <el-row :gutter="20">
		<el-col :span="24">
		  <h1>Количество игроков</h1>
		</el-col>
	  </el-row>
	  <el-row :gutter="20" justify="center" type="flex">
		<el-col :span="12">
		  <el-table :data="table" style="width: 100%">
			<el-table-column prop="roundNum" label="Количество раундов"></el-table-column>
			<el-table-column prop="gamersCount" label="Количество игроков"></el-table-column>
		  </el-table>
		</el-col>
	  </el-row>
	</el-main>
  </el-container>
</template>

<script>
export default {
	name: "RoundsReport",
  	data() {
	  return {
	    table: []
	  }
	},
	methods: {
	  getData() {
		fetch("/api/rounds-report")
			.then((res) => {
			  res.json().then((data) => {
				if (data.success) {
				  this.table = data.data;
				} else {
				  alert(data.data.message);
				}
			  });

			})
	  }
	},
  	activated() {
	  this.getData();
	}
}
</script>

<style scoped>

</style>