<template>
  <div id="app">
	<el-container>
	  <el-main>
		<el-row :gutter="20">
		  <el-col :span="24">
			<div class="grid-content">
			  <el-menu :default-active="path" class="el-menu-demo" mode="horizontal" @select="handleSelect" router>
				<el-menu-item index="/">Крутить</el-menu-item>
				<el-menu-item index="/rounds-report">Количество игроков</el-menu-item>
				<el-menu-item index="/most-active-gamers-report">Самые активные</el-menu-item>
			  </el-menu>
			</div>
		  </el-col>
		</el-row>
	  </el-main>
	</el-container>

	<keep-alive>
    	<router-view/>
	</keep-alive>
  </div>
</template>

<script>
export default {
  data() {
	return {
	};
  },
  computed: {
    path() {
      return this.$route.path;
	}
  },
  methods: {
	handleSelect(key, keyPath) {
	}
  }
}
</script>

<style>
#app {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.el-menu-demo {
  display: flex;
  justify-content: center;
}
</style>
